// main settings
main{
    margin-top: 6rem;
    width: 20rem;
    max-height: 30rem;
     box-shadow:  4px 6px 8px rgba(#000, .1),
     6px 6px 10px rgba(#000, .07),
     8px 8px 12px rgba(#000, .05),
     10px 10px 14px rgba(#000, .03);
     background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .top{
        background-color: #8EC5FC;
        background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 38%, #ffffff 80%);
        height: 10rem;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        p{
            font-size: 4.5em;
            letter-spacing: 5px;
            color: #ffffff;
            font-family: 'La Belle Aurore', cursive;
            span{
                font-size: .2em;
                font-family: 'Mulish', sans-serif;
                letter-spacing: 2px;
            }
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        transition: all 1s ease;
        //error for empty list
        .listerr{
            position: absolute;
            left:15%;
            bottom: 0;
            color: rgb(255, 0, 0);
            opacity: 0;
            font-size: .6rem;
            transition: all .5s ease;
            &.anime{
                animation:animatteerr .2s linear;
                 @keyframes animatteerr {
                     0%{
                         left: 10%;
                     }
                     100%{
                         left: 15%;
                     }
                 }
            }
        }
        // error fot empty input
        .err{
            position: relative;
            left: 0;
            bottom: 0;
            color: rgb(255, 0, 0);
            font-size: .7rem;
            opacity: 0;
            transition: all .5s ease;
            &.anime{
               animation:animateerr .2s linear;
                @keyframes animateerr {
                    0%{
                        left: -5px;
                    }
                    100%{
                        left: 5px;
                    }
                }
            }
        }
        //list settings
        .list{
            width: 90%;
            max-height: 15rem;
            scroll-behavior: smooth;
            overflow-y:scroll;
            overflow-x: hidden;
            padding: 0 15px 10px 15px;
            &::-webkit-scrollbar-thumb {
                    background-color: #ffffff;
                }
                &::-webkit-scrollbar:vertical {
                    width:4px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #5faefd;
                    border-radius: 20px;
                }
                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }
                .text{
                    border: none;
                    font-size: 1em;
                    font-family: 'Mulish', sans-serif;
                    width: 80%;
                    &:focus{
                        color: rgb(128, 127, 127);
                        outline: none;

                    }
                }
                // eddit list btn
                .eddit-btn{
                    position: absolute;
                    right: 1.6rem;
                    font-size: 1.4em;
                    border: none;
                    background: #fff;
                    color: #379bfe;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(1.3);
                    }
                    ion-icon{
                        pointer-events: none;

                    }
                }
                // save list btn
                .save-btn{
                    position: absolute;
                    right: 1.6rem;
                    font-size: 1.4em;
                    border: none;
                    background: #fff;
                    color: #379bfe;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(1.3);
                    }
                    ion-icon{
                        pointer-events: none;
                    }
                }
                // delete list btn 
                .delete-btn{
                    position: absolute;
                    right: 0;
                    font-size: 1.4em;
                    border: none;
                    background: #fff;
                    color: rgb(255, 0, 0);
                    cursor: pointer;
                   
                    &:hover{
                        filter: brightness(1.3);
                    }
                    ion-icon{
                        pointer-events: none;

                    }
                }
                                      
            }
        }

        .inpt-btn{
            width: 250px;
            position: relative;
            .input{
                border: 1px solid rgba(#8EC5FC, .6);
                border-radius: 5px;
                height: 40px;
                width: 250px;
                padding-left: 10px;
                padding-right: 30px;
                background: #faf7fd;
                transition: background 0.25s ease-out;
                font-family: 'Mulish', sans-serif;
                &:focus{
                    border: 1px solid #5faefd;
                    outline: none;        
                    background: none;   
                }
            }
            // input btn 
            .btn{
                color: #fff;
                background:#8EC5FC ;
                border: none;
                border-radius: 3.125rem;
                width: 50px;
                height: 50px;
                position: absolute;
                right: 0;
                top: 30%;
                font-size: 1.5em;
                font-weight: bold;
                cursor: pointer;
                opacity: 0;
                transform: translate(0, -50%) scale(0) rotate(180deg);
                transition: transform, opacity, 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
                &:hover{
                    background: #5faefd;
                }
                &:focus{
                    opacity: 1;
                    transform: translate(50%, -50%) scale(1.1) rotate(0deg);
                }
                &:active{
                    opacity: 1;
                    transition: transform, opacity, 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
                    transform: translate(50%, -50%) scale(0.95) rotate(0deg);
                }
            }
        }
    }

      .input:focus + .btn {
        opacity: 1;
        transform: translate(50%, -50%) scale(1) rotate(0deg);
      }
      .inpt-btn.btn:active {
        opacity: 1;
        transition: transform, opacity, 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
        transform: translate(50%, -50%) scale(0.95) rotate(0deg);
      } 
    //   btns dar/light mode
      .btns{
        position: absolute;
        top:  20px;
        right: 29px;
        width: 40px;
        height: 40px;
        background: rgba(#000, .7);
        font-size: 1.5em;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border-radius: 10px;
    }
    .btns strong{
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        backdrop-filter: blur(1rem);
        border-radius: 10px;
    
    }
    .btns strong:nth-child(1){
        display: none;
    }
    // dark mode option
.night{
        .top{
            background-color: #379bfe;
            background-image: linear-gradient(180deg, #379bfe 0%, #d3a3ff 38%, #ffffff 80%);
        }
        .inpt-btn{
            input{
                border: 1px solid rgba(#d3a3ff, .6);
                &:focus{
                    border: 1px solid #379bfe;
                }
            }
            .btn{
                background: #d3a3ff;
                &:hover{
                    background: #379bfe;
                }
            }
        }
        .details{
            .list{
                &::-webkit-scrollbar-thumb {
                    background-color: #379bfe;
                }
            }
        }
        .btns{
            background: #fff;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, .5),
            5px 5px 30px rgba(0, 0, 0, .05),
            inset -2px -2px 5px rgba(0, 0, 0, .1),
            inset 2px 2px 5px rgba(0, 0, 0, .05);
        }
        .btns strong:nth-child(1){
            display: block;
            
        }
        .btns {
        strong:nth-child(2){
            display: none;
        }
    }
}
//slide animation error
.slide {
    transition: all .4s linear;
    transform: translateX(10rem);
    opacity: 0;
}
.slide2{
    animation: appear .3s linear;
    @keyframes appear {
        0%{
            transform: translateX(10rem);
        }        
        50%{
            transform: translateX(-1rem);
        }
        100%{
            transform: translateX(0);
        }
    }
   
}
// footer settings
.todo_footer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    border-top: 1px solid #379bfe;
    font-size: .8em;
    padding: 5px;
    padding-bottom: 10px;
    color: rgba(#000, 1);
    background: #fff;
    z-index: 50;
    opacity: 0;
    transition: all 1s ease;
    border-radius: 0 0 10px 10px;
    .span_all{
        color: #379bfe;
    }
    span{
        &:hover{
color: #379bfe;
cursor: pointer;
        }
    }
}
