@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: url(../img/dragon-scales.png);
    background-size: contain;
    animation: animate 1000s linear infinite;
    font-family: 'Mulish', sans-serif;
}
body.night{
    background: url(../img/dragon-scales\ Dark.png);
    background-size: contain;
}
@keyframes animate {
    0%{
        background-position: -10000px;
    }
    100%{
        background-position: 20000px;
    }
    
}